*{
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto auto;
}

header{
    background-image: url(https://c.pxhere.com/photos/64/a0/background_floor_texture_stained_floor_concrete_pattern_cement_stained-792739.jpg!d);
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Navigasjon{
    list-style: none;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: aqua;
}
.NavigasjonA:hover{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 5;
    flex-wrap: wrap;
    width: 100%;
       
}

main{
    max-width: 70%;
    min-width: 400px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #b964ff;
}

aside{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #83ffa2
}

article{
flex-wrap: wrap;
padding: 4;
box-shadow: #4d4d4d;
min-width: 300px;
max-width: 400px;


}

footer{
    background-color: #6d6d6d;
    color: #fff;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
